<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <address>
					<strong>Chatstaff LLC</strong><br>
					P.O. Box 413<br>
					Greensboro, NC 27402<br>
					<span title="Email" class="icon-envelope" aria-hidden="true"></span> <a href="mailto:info@chatstaff.org">info@chatstaff.org</a><br>
					<span title="Phone" class="icon-phone" aria-hidden="true"></span> <a href="tel:+13366121627">(336) 612-1627</a><br>
					<span title="Twitter" class="icon-twitter" aria-hidden="true"></span> <a href="https://twitter.com/chatstaffvr">@chatstaffvr</a>
				</address>

      </div>
      <div class="span4">
      </div>
      <div class="span4">
        <div class="widget">
          <!-- logo -->
          <a class="brand logo" href="index.html">
						<img src="assets/img/logo.png" alt="">
					</a>
          <!-- end logo -->
        </div>
      </div>
    </div>
  </div>
  <div class="verybottom">
    <div class="container">
      <div class="row">
        <div class="span6">
          <p>
	   <span title="PDF" class="icon-file" aria-hidden="true"></span>	  
           <a href="assets/img/chatstaff-overview.pdf">Overview (PDF)</a>
          </p>
        </div>
        <div class="span6">
          <div class="credits">
	  <p>
            © 2019 Chatstaff - All right reserved
          </p>
       </div>
        </div>
      </div>
    </div>
  </div>
</footer>
