<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span4">
        <address>
					<strong>Chatstaff LLC</strong><br>
					P.O. Box 413<br>
					Greensboro, NC 27402<br>
					<span title="Email" class="icon-envelope" aria-hidden="true"></span> <a href="mailto:info@chatstaff.org">info@chatstaff.org</a><br>
					<span title="Phone" class="icon-phone" aria-hidden="true"></span> <a href="tel:+13364567890">(336) 456-7890</a><br>
					<span title="Twitter" class="icon-twitter" aria-hidden="true"></span> <a href="https://twitter.com/chatstaffvr">@chatstaffvr</a>
				</address>
	      <p>
		      <span title="Overview" class="file-pdf" aria-hidden="true"></span>
		      <a href="assets/img/chatstaff-overview.pdf">Overview (PDF)</a>
	      </p>
      </div>
      <div class="span4">
      </div>
      <div class="span4">
        <div class="widget">
          <!-- logo -->
          <a class="brand logo" href="index.html">
						<img src="assets/img/logo.png" alt="">
					</a>
          <!-- end logo -->
        </div>
      </div>
    </div>
  </div>
  <div class="verybottom">
    <div class="container">
      <div class="row">
        <div class="span6">
          <p>
            © 2019 Chatstaff - All right reserved
          </p>
        </div>
        <div class="span6">
          <div class="credits">
            <!--
                 All the links in the footer should remain intact.
                 You can delete the links only if you purchased the pro version.
                 Licensing information: https://bootstrapmade.com/license/
                 Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Serenity
            -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
