<header>
  <!-- Navbar
       ================================================== -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!-- logo -->
        <a class="brand logo" href="index.html"><img src="assets/img/logo.png" alt=""></a>
        <!-- end logo -->
        <!-- top menu -->
        <div class="navigation">
          <nav>
            <ul class="nav topnav">
              <li id="home-nav-item">
                <a href="index.html">Home</a>
              </li>
              <li id="about-nav-item">
                <a href="about.html">About Us</a>
              </li>
              <li id="services-nav-item">
                <a href="services.html">Services</a>
              </li>
              <li id="pricing-nav-item">
                <a href="pricing.html">Pricing</a>
              </li>
              <li id="current-customers-nav-item">
                <a href="current-customers.html">Current Customers</a>
              </li>
              <li id="contact-nav-item">
                <a href="contact.html">Contact</a>
              </li>
            </ul>

        </div>
        <!-- end menu -->
          
      </div>
    </div>
      
    

      
  </div>
    </header>
