<section id="intro">
    <div class="jumbotron masthead">
      <div class="container">
        <!-- slider navigation -->
        <div class="sequence-nav">
          <div class="prev">
            <span></span>
          </div>
          <div class="next">
            <span></span>
          </div>
        </div>
        <!-- end slider navigation -->
        <div class="row">
          <div class="info span6">
            <div id="slider_holder">
              <div id="sequence">
                <ul>
                  <!-- Layer 1 -->
                  <li>
                    <div class="info animate-in">
                      <h1>Virtual Reference</h1>
                      <br>
                      <h2>Professional Coverage</h2>
                      <p>
                        Your resources can be available 24 hours a day, and your
            patrons can reach them from any location, using a wide
            variety of devices.
          </p>
          <p>
            Offer patrons help with your resources whenever and wherever
            they want it! Chatstaff offers 24×7, after-hours, and true
            backup options.
                      </p>
                      <a class="btn btn-success" href="/services.html">Learn more &raquo;</a>
                    </div>
                    <img class="slider_img animate-in" src="assets/img/slides/sequence/chatstaff-computer-screen-xs" alt="laptop screen">
                  </li>
                  <!-- Layer 2 -->
                  <li>
                    <div class="info">
                      <h1>ALA Annual 2019</h1>
                      <br>
                      <h2>Washington, DC June 22-25</h2>
                      <p>
                        Join us on the vendor floor at booth 1856.
                      </p>
                      <a class="btn btn-success" href="ala.html">Learn more &raquo;</a>
                    </div>
                    <img class="slider_img" src="assets/img/slides/sequence/ALA_logo.png" alt="ALA Annual 2019 logo">
                  </li>
 </ul>
              </div>
            </div>
            <!-- Sequence Slider::END-->
          </div>
        </div>
      </div>
    </div>
  </section>
