<section id="intro">
  <div class="jumbotron masthead">
    <div class="container">
      <div class="row" style="padding-top: 10px; padding-bottom: 5px">
        <div class="info span8">
          <h1>Virtual Reference</h1>
          <br>
          <h2>Professional coverage</h2>
          <p>
            Your resources can be available 24 hours a day, and your
            patrons can reach them from any location, using a wide
            variety of devices.
          </p>
          <p>
            Offer patrons help with your resources whenever and wherever
            they want it! Chatstaff offers chat reference 24×7, after-hours, and true
            backup options.
          </p>
          <img src="assets/img/Savannah_banner.png" alt="Georgia International Conference on Information Literacy logo">
                  </div>
        <div class="span4 hidden-phone">
          <img src="assets/img/chatstaff-computer-screen-xs.png" alt="laptop computer screen">
        </div>
      </div>
    </div>
  </div>
</section>
