<section id="intro">
  <div class="jumbotron masthead">
    <div class="container">
      <!-- slider navigation -->
        <div class="sequence-nav">
          <div class="prev">
            <span></span>
          </div>
          <div class="next">
            <span></span>
          </div>
        </div>
        <!-- end slider navigation -->

      <div class="row" style="padding-top: 20px;">
        <div class="info span6">
          <div id="slider_holder">
              <div id="sequence">
                <ul>
                  <!-- Layer 1 -->
                  <li>
                    <div class="info animate-in">
          <h1>Virtual Reference</h1>
          <br>
          <h2>Professional coverage</h2>
          <p>
            Your resources can be available 24 hours a day, and your
            patrons can reach them from any location, using a wide
            variety of devices.
          </p>
          <p>
            Offer patrons help with your resources whenever and wherever
            they want it! Chatstaff offers 24×7, after-hours, and true
            backup options.
          </p>
        </div>
                  <img class="slider_img animate-in" src="assets/img/slides/sequence/chatstaff-computer-screen-xs.png" alt="laptop computer screen">
          </li>
                  <!-- Layer 2 -->
                  <li>
                    <div class="info">
                      <h1>Join us at ALA</h1>
                      <br>
                      <h2>Washington, DC June 22-25</h2>
                      <p>
                        Booth 1856
                      </p>
                      
                    </div>
                    <img class="slider_img" src="assets/img/slides/sequence/ALA_logo.png" alt="ALA 2019 Annual Logo">
                  </li>
 </ul>
        </div>
      </div>
          <!-- Sequence Slider::END-->
    </div>
  </div>
      </div>
  </div>
</section>
